<div class="top-menu">

    <img class="logo" src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>


<div class="demo">
    StartDate: {{startDate | date}}
    <br>
    Currency: {{currency | currency: "EUR"}}
    <br>
    Percentage: {{percentage | percent }}
    <br>
    Number: {{num | number: ".1-2"}}
</div>

<button class="button" (click)="onCourseEdited()">Edit Courses</button>

<div class="courses">

    <!-- the new @for and @empty which replace ngFor -->
    <!-- @for (course of courses; track trackCourse) {
    <course-card [index]="$index" [course]="course" [class.is-first]="$first" [class.is-last]="$last"
        [class.is-even]="$even" [class.is-odd]="$odd" (courseSelected)="onCourseSelected($event)" />
    }
    @empty {
    <h1>No courses found!</h1>
    } -->

    <ng-template #blankImage let-courseName="description">
        <p class="warn">
            <b>{{courseName}}</b> has no image available
        </p>
        <img src="/assets/empty-image.png">
    </ng-template>

    <!-- <ng-container *ngTemplateOutlet="blankImage; context: {description: courses[0].description}"></ng-container> -->

    <hr>
    <hr>

    <course-card
        *ngFor="let course of courses; index as i;"
        (courseSelected)="onCourseSelected($event)" [course]="course" [index]="i+1" [noImageTemplate]="blankImage" >

        <course-image [src]="course.iconUrl"></course-image>
        <course-image [src]="course.iconUrl"></course-image>


        <h5>Total Lessons: 5</h5>

    </course-card>

    <!-- testing viewChild -->
    <!-- <course-card #cardRef1
        (courseSelected)="onCourseSelected($event)" [course]="courses[0]" >
    </course-card>

    <course-card #cardRef2
        (courseSelected)="onCourseSelected($event)" [course]="courses[1]" >
    </course-card> -->

</div>